<ion-header>

  <ion-navbar>
    <ion-title>Plats</ion-title>
    <ion-buttons>
      <button ion-button icon-left (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
        Retour
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content>
  <div class="divcenter">
    <ion-list *ngFor="let meal of meals "  class="pad">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2>{{meal.name}}</h2>
        <button ion-button clear item-end>ajouter</button>
      </ion-item>
    </ion-list>
    <button ion-button (click)="openModal()">
      <ion-icon name="add">ajouter un plat</ion-icon>
    </button>
  </div>
</ion-content>
