page-splash {

    #progressbar {
        background-color: rgba(255, 255, 255, 0.103);
        border-radius: 13px; /* (height of inner div) / 2 + padding */
        padding: 3px;
    }
    #progressbar > div {
        background-color: rgb(235, 138, 11);
        width: 0%; /* Adjust with JavaScript */
        height: 10px;
        border-radius: 10px;
        transition-timing-function: ease;
        -webkit-transition: width 2s; /* Safari */
        transition: width 2s;
    }

    .bgColor{
        background: linear-gradient(45deg, blue 30%, blue 5%, cyan)
    }

    .div1{
        width: 50%; 
        margin: 0 auto;
        }

  
} 
